.letterBody{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    width:100vw;
}
.letterContainer{
    display: flex;
        justify-content: center;
        align-items: center;
    background-color: rgb(255, 255, 176);
    color:black;
    width:70%;
    height: 20%;
    text-align: center;
    font-size: 40px;
}